* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding:0; margin: 0; }
header, footer, section, article, aside, nav, hgroup,address, figure, figcaption, menu, details { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img, iframe, abbr { border: 0; }
i, cite, em, var, address, dfn { font-style: normal; }
input, button, textarea, select,keygen, legend { vertical-align: top;outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-focus-ring-color: rgba(255, 255, 255, 0); font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;}
ul, ol, dl { list-style: none; }
textarea { overflow: auto; resize: none; }
a { cursor: pointer; color: #333; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
del, ins, u, s, a, a:hover { text-decoration: none; }
img { vertical-align: top; }
a, a:focus {outline: none; -moz-outline: none; }
body {position: relative; font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif; color: #202020;}
html,body {
  height: 100vh;
}
.fl{display: inline-block; float: left;}
.clearfix:after{clear:both;content:'';display:block;height:0;}
.item-section {
  min-height: 100%;
  background-color: #fff;
  position: relative;
  width: 100%;
  max-width: 12.8rem;
  margin: 0 auto;
  font-size: .373333rem;
}
.center {
  text-align: center;
}
.none{
  display: none;
}

/***-----提示tip-----**/
.ajax_tip {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10000020;
  padding: 0.3rem 0.5rem;
  font-size: .346667rem;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  font-weight: bold;
  background: rgba(0, 0, 0, .8)
}

.transform_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*flexbox*/
.flexbox {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.space-between {
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }
 .justify-center {
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
 }
 .flex1 {
   -webkit-box-flex: 1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
 }
 .flex2 {
   -webkit-box-flex: 2;
   -webkit-flex: 2;
   -ms-flex: 2;
   flex: 2;
 }
 .flex-item-align {
   -moz-align-self: flex-end;
   -webkit-align-self: flex-end;
   -ms-align-self: flex-end;
   align-self: flex-end;
 }

/*头部标题栏*/
.header {
  height: 1.2rem; position: relative; line-height: 1.2rem; vertical-align: middle; background: #fff; box-sizing: content-box;
}
.headbar {
  height: 1.2rem; position: fixed; line-height: 1.2rem; vertical-align: middle;
  background: #fff; border-bottom: .013333rem solid #eee; left: 0; right: 0; top: 0; z-index: 3; box-sizing: content-box;
}
.top_info {
  width: .8rem; height: 1.2rem; position: absolute; align-items: center; left: .4rem; z-index: 2
}
.top_title {
  padding: 0 1.6rem; font-size: .4rem; text-align: center;
}
.info_icon {
  vertical-align: middle; display: inline-block; text-align: center;
}
.h1title {
  font-size: 15px; display: inline-block; font-weight: 600;
}
.goback_icon {
  width: .346667rem; height: .56rem; vertical-align: middle;
}
.top_info .goback_icon {
  margin-left: .106667rem;
}
.topbar {
  padding-top: .533333rem;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .topbar {
    padding-top: 1.173333rem;
  }
}

/*内容区域* 列表*/
  .mianbox{position: relative;}

  .text12{
    font-size: .32rem;
    color: #888;
    line-height: .533333rem;
  }
  .text15 {
    font-size: .4rem;
    color: #333;
    line-height: 1.6rem;
  }


  /*暂无数据*/
  .item-nodata {
    min-height: 100%;
    background-color: #f8f8f8;
    position: relative;
    font-size: 14px;
    max-width: 10rem;
    margin: 0 auto;
    display: none;
  }

  .item-nodata p {
    color: #8c8c92;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    font-size: .346667rem;
  }


  /*文字溢出省略号。。。*/
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /*隐藏滚动条*/
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }